/*
 * Theme definitions
 */

 @import './colors.scss'

$themes: (
  light: (
    backgroundColor: #FFFFFF,
    textColor: #000000,
    backgroundLineStroke: #DDDDDD,

    defaultStroke: #000000,

    candleUpBodyStroke: $red,
    candleUpBodyFill: #FFFFFF,
    candleUpLineStroke: $red,
    candleDownBodyFill: $green,
    candleDownLineStroke: $green,

  ),
  dark: (
    backgroundColor: #000000,
    textColor: #FFFFFF,
    backgroundLineStroke: #666666,

    defaultStroke: #FFFFFF,

    candleUpBodyStroke: $red,
    candleUpBodyFill: #000000,
    candleUpLineStroke: $red,
    candleDownBodyFill: $green,
    candleDownLineStroke: $green,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
